/*----------------------------------------------COLOR--------------------------------------*/
:root{
    --brightcyan2: #04c2c9;
    --brightcyan: #00a2a2;
    --darkgray: #212329;
    --darkgrayTransparent: #21232961;
    --brightred: #F9423D;
    --white: #fff;
    --lightred: #f9433dcc;
    --lightyellow:  #f4a235;
    --lightdark: rgba(19, 18, 18, 0.664);
    --deepdark:#000;
  }

 body{
   overflow-x: hidden;
 }
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  *{scroll-behavior: smooth}

/*---------------------------------------------CONTAINER---------------------------------------*/
  .flex-row{display:flex;flex-direction:row; flex-wrap: wrap}


/*---------------------------------------------NAVBAR---------------------*/
  .nav-container{
    width: 100vw;
    background-color: var(--lightdark);
  }

  #nav{
    position:fixed;
    top: 0;
    transition: top 0.4s;
    z-index: 9999;
  }
  
  #nav.navbar.hidden {
    top: -80px;
  }
  
  .navbar{
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    justify-self: center;
    height: 80px;
    width: 100vw;
    max-width: auto;
    margin: 0 auto;
  }
  
  #navbar-logo{
    justify-self: start;
    margin-left: 20px;
    width: 240px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    justify-self: flex-end;
    grid-gap: 30px;
  }
  
  .nav-links{
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 2px  2px 2px rgb(0, 0, 0);
  }
  
  
  .nav-links:hover{
    color:var(--brightcyan);
    transition: all 0.2s ease-out;
  }
  
  .nav-links-btn{
    background-color: var(--lightred);
    padding: 5px 15px;
    border-radius: 4px;
    margin-left: 20px;
  }
  
  .nav-links-btn:hover{
    background-color: transparent;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid var(--brightred);
    transition: all 0.3s ease-out;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-out;
    background: var(--white) ;
  }


  img.brandlogo{
    width: 50px;
    position: relative;
    top: 6px;
    left: 10px;
  }

 
  .nav-active {
    background-color:rgb(0, 0, 0);
}


/*-----------------------------END NAVBAR--------------------------*/

/*-------------------------------------------------HOME-------------------------------------------------*/
.home{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url("../img/bg-home-1200x800.jpg") center center no-repeat;
  background-size: cover;

}

#prez.wrapper{
  position: relative;
  bottom: 100px;
}

.wrapper{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.name h1{
  font-family:'Raleway', sans-serif; 
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 6px;
  color: var(--white);
  text-shadow: 2px  2px 2px rgb(69, 69, 69);
}

.title h2{
  margin: 30px 0;
  font-family:'Raleway', sans-serif; 
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 3px;
  color: var(--white);
  padding: 10px;
  border-radius: 5px;
}


/*.link-profil{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  background-color:transparent;
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 14px 60px 14px 60px;
  transition: all 0.4s ease;
  outline: none;
}

.link-profil:hover{
  cursor: pointer;
  background-color: var(--brightcyan);
  border-color: var(--brightcyan);
}*/


span.material-icons {
  position: relative;
  color: #ffffff;
  font-size: 62px; 
}

span.material-icons{
  transition: transform 0.4s;
}

span.material-icons:hover{
  transform: rotate(90deg);
  transition: all 0.4s ease;
}


/*----------------------------------------------SECTION ABOUT--------------------------------------*/

#anchor1.about{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.container-title-section{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.title-section{
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--darkgray);
  text-align: center;
  margin: 15px;
}

.title-bar{
  background: var(--darkgray);
  height: 3px;
  width: 80px;
  margin: 10px 0 50px
}

.container-about{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.picture img{
  width: 100%;
}

.picture{
  width: 160px;
  margin:20px;
}

.about-text{
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  line-height: 20pt;
  letter-spacing: 1px;
  color: var(--darkgray);
  width: 400px;
  text-justify: auto;
  margin: 50px;
}

.research{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*----------------------------------------------------SECTION DOWNLOAD------------------------------------*/
.download{
  margin:40px 40px 40px 40px;
}

.btn-download{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link-download{
  text-decoration: none;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--deepdark);
  background-color:transparent;
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 12px 60px 17px 60px;
  transition: all 0.4s ease;
  outline: none;
  margin-bottom: 20px;
}

.link-download:hover{
  cursor: pointer;
  background-color: var(--brightcyan);
  border-color: var(--brightcyan);
}

.link-download .material-icons{
  transition: transform 0.4s;
}

.link-download:hover .material-icons{
  transform: rotate(90deg);
  transition: all 0.4s ease;
}
  

/*---------------------------------------------------SECTION PROJECTS--------------------------------------*/

#anchor2.projects{
  width: 100vw;
  background-color: #f5f5f5;;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 120px;
}

.container-projects{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projects-text{
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20pt;
  color: var(--darkgray);
  text-align: center;
  margin-bottom: 30px;
}

.projects-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

/*--------------------------------------PROJECTS-----------------------------------------*/

/*-----------------------------NAV FILTER--------------------------------*/


.nav-filter-container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 10px;
  margin-bottom: 60px;
}

.nav-projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 90vw;
}

.nav.nav-filter-projects{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-filter-projects>li.active>a, .nav-filter-projects>li.active>a:focus, .nav-filter-projects>li.active>a:hover{
  background: var(--brightcyan);
  color: #f2f2f2;
  border-color: var(--brightcyan);
}


.link-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 70px 10px 70px;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 10px;
  transition: all 0.4s ease-out;
}

.link-filter:hover{
  color: rgb(255, 255, 255);
  background-color:var(--brightcyan);
  border-color: var(--brightcyan);
  transition: all 0.4s ease-out;
  outline: none;
}

.tab-content > .tab-pane{
  display: none;
}

.tab-content > .active{
  display: block;
}

/*-----------------------------END NAV FILTER--------------------------------*/


.cover{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
}

.flip-card {
  background-color: transparent;
  width: 500px; 
  height: 381px; 
  perspective: 1000px;
  /*padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;*/
}

.flip-card-inner img{
  border-radius: 5px;
  
}
.flip-card-inner {
  position: relative;
  width: 500px;
  height: 381px;
  text-align: center;
  transform-origin: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.781);
  border-radius: 5px;
  
}

.flip-card:hover .flip-card-inner {
  cursor: pointer;
  transform: rotateY(180deg);
  border-radius: 5px;
  
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 500px;
  height: 281px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}

.flip-card-front {
  width: 500px;
  height: 381px;
  background-color: #bbb;
  color: black;
  border-radius: 5px;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 381px;
  background-color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  border-radius: 5px;
  padding: 20px;
  
}

.flip-card-back h2{
  font-family:'Raleway', sans-serif;
  color: var(--lightred);
  font-size: 1.4rem;
  letter-spacing: 3px;
  font-weight: 500;
}


.flip-card-back p{
  font-family:'Raleway', sans-serif;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 3px;
  font-weight: 300;
}

.flip-card-back a{
  font-family:'Raleway', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
}

a.link-site:hover{
  font-family:'Raleway', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  cursor: pointer;
}

button.link{
  background-color: transparent;
  font-size: 1em;
  padding: 8px 20px;
  border: 1px solid #fff;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  transition: 0.1s;
}

button.link:hover{
  background-color: var(--brightcyan);
  border-color: var(--brightcyan);
  border-radius: 1px;
}

button.link:active{
  border-radius: 1px;
}

/*------------------------------------CONTACT-----------------------------------------*/


input[type=text], select, textarea {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 10px;
}

label {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin-top: 10px;
}


input[type=submit] {
  background: transparent;
  color: #000;
  border: 1px solid rgb(0, 0, 0);
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 20px;
  transition: all 0.4s ease-in-out;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
}

.form-control{
  height: 50px;
  font-size: 0.9em;
}

input[type=submit]:hover {
  background-color:  var(--brightcyan);
  border-color: var(--brightcyan);
  color: #fff;
}

.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 50px;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 80%;
  margin-top: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.contact-me{
  background-color: #f2f2f2 ;
  font-family: 'Raleway', sans-serif;
  
  text-align: center;
  letter-spacing: 2px;
}
.contact-me p{
  font-size: 1em;
  padding-top: 50px;
}

.comments{
  font-style: italic;
  font-size: 0.9em;
  color: #d82c2e;
  height: 25px;
}

.thanks{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color:#04c2c9;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 2px;
}
/*--------------------------------------------------FOOTER---------------------------------------------*/

section#footer{
  background:#101010;
  width: 100vw;
  padding: 100px 0 100px 0;
}


ul.flex-row.footer-social{
  list-style: none;
  font-size: 2.5em;
  justify-content: space-evenly;
  align-items: center;
}


.copyright{
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  color: #b3b2b2c4;
  margin-top:100px;
}

i.fab.fa-linkedin-in{
  color:rgba(140, 140, 140, 0.899);
}

i.fab.fa-linkedin-in:hover{
  color:#0966c2;
}


i.fab.fa-github{
  color:rgba(140, 140, 140, 0.899);
}

i.fab.fa-github:hover{
  color:#fff;
}

i.fas.fa-envelope-square{
  color:rgba(14, 14, 14, 0.899);
}

i.fas.fa-envelope:hover{
  color:var(--brightcyan);
}



/*------------------------------------MEDIA QUERIES---------------------------------*/
 