:root{
    --brightcyan: #04c2c9;
    --darkgray: #212329;
    --darkgrayTransparent: #21232961;
    --brightred: #F9423D;
    --white: #fff;
    --lightred: #f9433dcc;
    --lightyellow:  #f4a235;
    --lightdark: rgba(19, 18, 18, 0.664);
  }
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *{scroll-behavior: smooth}
/*---------------------------------------------CONTAINER---------------------------------------*/
  .flex-row{display:flex;flex-direction:row; flex-wrap: wrap}



/*---------------------------------------------NAVBAR------------------------------------------*/
  .nav-container{
    width: 100vw;
    background-color: var(--lightdark);
  }

  #nav{
    position:fixed;
    top: 0;
    transition: top 0.4s;
    z-index: 9999;
  }
  
  #nav.navbar{
    background-color: var(--lightdark);
  }
  
  #nav.navbar.hidden {
    top: -80px;
  
  }
  
  .navbar{
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    justify-self: center;
    height: 80px;
    width: 100vw;
    max-width: auto;
    margin: 0 auto;
    
  }
  
  #navbar-logo{
    justify-self: start;
    margin-left: 20px;
    width: 240px;
    margin-bottom: 10px;
  }
  
  #navbar-logo{
    cursor: pointer;
  }
  
  .nav-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    text-align: center;
    justify-self: flex-end;
  }
  
  .nav-links{
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-right: 40px;
  }
  
  
  .nav-links:hover{
    color: #04c2c9;
    transition: all 0.2s ease-out;
  }
  
  .nav-links-btn{
    background-color: var(--lightred);
    padding: 5px 15px;
    border-radius: 4px;
    margin-left: 20px;
  }
  
  .nav-links-btn:hover{
    background-color: transparent;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid var(--brightred);
    transition: all 0.3s ease-out;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-out;
    background: var(--white) ;
  }

  .header_navbar-logo-title{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 200;
    color: var(--white);
    text-decoration: none;
  }
/*-------------------------------------------------END NAVBAR-------------------------------------------*/


/*-------------------------------------------------HOME-------------------------------------------------*/
.home{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url("../img/bg-home-1200x800.jpg") center center no-repeat;
  background-size: cover;

}

#prez.wrapper{
  position: relative;
  bottom: 100px;
}


.wrapper{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.name h1{
  font-family:'Raleway', sans-serif; 
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
  color: var(--white);
}


.title h2{
  margin: 30px 0;
  font-family:'Raleway', sans-serif; 
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 3px;
  color: var(--white);
}

.btn.btn-link{
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--darkgray);
  background-color:transparent;
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 12px 30px 17px 30px;
  transition: all 0.4s ease;
  outline: none;
  
}


.btn.btn-link:hover{
cursor: pointer;
background-color: #04c2c9;
border-color: #04c2c9;
}

a.link-profil{
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.material-icons {
  position: relative;
  top:5px;
  left:10px
}

.btn.btn-link .material-icons{
  transition: transform 0.4s;
}

.btn.btn-link:hover .material-icons{
  transform: rotate(90deg);
  transition: all 0.4s ease;
}


/*----------------------------------------------SECTION ABOUT--------------------------------------*/

#anchor1.about{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 50px;
}



.container-title-section{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.title-section{
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--darkgray);
  text-align: center;
  margin: 15px;
}

.title-bar{
  background: var(--darkgray);
  height: 3px;
  width: 80px;
  margin: 10px 0 50px
}

.container-about{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.picture img{
  width: 100%;
}

.picture{
  width: 160px;
  margin:20px;
}

.about-text{
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  line-height: 20pt;
  color: var(--darkgray);
  width: 400px;
  text-justify: auto;
  margin: 50px;
}

/*----------------------------------------------------SECTION DOWNLOAD------------------------------------*/
.download{
  margin:40px 40px 60px 40px;
}

.btn-download{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn.btn-link.download{
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  color: var(--darkgray);
  background-color:transparent;
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 12px 30px 17px 30px;
  transition: all 0.4s ease;
  outline: none;
}

.btn.btn-link.download:hover{
  cursor: pointer;
  background-color: #04c2c9;
  border-color: #04c2c9;
}

.link-download{
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
}
  

/*---------------------------------------------------SECTION PROJECTS--------------------------------------*/

#anchor2.projects{
  width: 100vw;
  background-color: #f5f5f5;;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 120px;
}

.container-projects{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projects-text{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20pt;
  color: var(--darkgray);
  text-align: center;
  margin-bottom: 30px;
}

.projects-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  background-color: #c7c7c7;
}

/*--------------------------------------PROJECTS CARD-----------------------------------------*/

/*-----------------------------NAV FILTER--------------------------------*/


.nav-filter-container{
  display: flex;
  flex-flow: row wrap;
  width: 90vw;
  background-color:  #c7c7c7;
}

.nav-projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 90vw;

}

.nav.nav-filter-projects{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.link-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.link-filter:hover{
  background-color:blue;
  transition: all 0.2s ease-out;
}

.tab-content > .tab-pane{
  display: none;
}

.tab-content > .active{
  display: block;
}

/*-----------------------------END NAV FILTER--------------------------------*/





.cover{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 381px;
  perspective: 1000px;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  
  
}

.flip-card-inner img{
  border-radius: 5px;
  
}
.flip-card-inner {
  position: relative;
  width: 500px;
  height: 381px;
  text-align: center;
  transform-origin: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.781);
  border-radius: 5px;
  
}

.flip-card:hover .flip-card-inner {
  cursor: pointer;
  transform: rotateY(180deg);
  border-radius: 5px;
  
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}

.flip-card-front {
  width: 500px;
  height: 381px;
  background-color: #bbb;
  color: black;
  border-radius: 5px;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 381px;
  background-color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  border-radius: 5px;
  padding: 20px;
  
}

.flip-card-back h2{
  font-family:'Raleway', sans-serif;
  color: var(--brightcyan);
  font-size: 1.4rem;
  letter-spacing: 3px;
  font-weight: 500;
}


.flip-card-back p{
  font-family:'Raleway', sans-serif;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 3px;
  font-weight: 300;
}

.flip-card-back a{
  font-family:'Raleway', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
}

a.link-site:hover{
  font-family:'Raleway', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  cursor: pointer;
}

button.link{
  background-color: transparent;
  font-size: 1em;
  padding: 8px 20px;
  border: 1px solid #fff;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  transition: 0.1s;
}

button.link:hover{
  background-color: var(--brightcyan);
  border-color: var(--brightcyan);
  /*transform: scale(1.05);*/
  border-radius: 1px;
}

button.link:active{
  /*transform: scale(0.98);*/
  border-radius: 1px;
}

/*------------------------------------CONTACT-----------------------------------------*/


input[type=text], select, textarea {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 10px;
}

label {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin-top: 10px;
}

.blue-star{
  font-size: 15px;
  color:#3441f8;
}

input[type=submit] {
  background: #04c2c9;
  color: #fff;
  border: 1px solid #ccc;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 20px;
  transition: all 0.4s ease-in-out;
  outline: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-control{
  height: 50px;
  font-size: 1.1em;
}

input[type=submit]:hover {
  background-color: #01767a;
  border-color: #01767a;
}

.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 50px;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 80%;
  margin-top: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.contact-me{
  background-color: #f2f2f2 ;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 2px;
}
.contact-me p{
  padding-top: 50px;
}

.comments{
  font-style: italic;
  font-size: 0.9em;
  color: #d82c2e;
  height: 25px;
}

.thanks{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
/*--------------------------------------------------FOOTER---------------------------------------------*/

section#footer{
  background:#101010;
  width: 100vw;
  padding: 100px 0 100px 0;
}


ul.flex-row.footer-social{
  list-style: none;
  font-size: 2.5em;
  justify-content: space-evenly;
  align-items: center;
}


div.copyright{
  text-align: center;
  font-size: 0.9em;
  letter-spacing: 0.2em;
  color: #b3b2b2c4;
  margin-top:100px;
}

i.fab.fa-linkedin-in{
  color:rgba(140, 140, 140, 0.899);
}

i.fab.fa-linkedin-in:hover{
  color:#11ABB0;
}


i.fab.fa-github{
  color:rgba(140, 140, 140, 0.899);
}

i.fab.fa-github:hover{
  color:#11ABB0;
}

i.fas.fa-envelope-square{
  color:rgba(14, 14, 14, 0.899);
}

i.fas.fa-envelope:hover{
  color:#11ABB0;
}



/*------------------------------------MEDIA QUERIES---------------------------------*/
  @media screen and (max-width:768px) {
  
      .nav-container{
        position: relative;
        
      }
  
      .nav-menu{
        display: grid;
        grid-template-columns: auto;
        /*background: var(--brightred);*/
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.7s ease;
      }

  
      #navbar-logo {
        margin-left: 20px;
        margin-bottom: 10px;
      }
  
      .nav-menu.active{
        background: var(--lightdark);
        left: 0;
        opacity: 1;
        transition: all 0.7s ease;
      }
  
      .nav-links{
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
      }
  
      .nav-links:hover{
        background-color: var(--brightcyan);
        color: var(--white);
        transition: all 0.4s ease-out;
      }
  
      .navbar{
        width: 100%;
      }
  
      .nav-links-btn{
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--darkgray);
        color: var(--white);
        transition: all 0.4s ease-out;
        margin-left: 0;
      }
  
      .nav-links-btn:hover{
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--lightyellow);
        color: var(--brightred);
        transition: all 0.4s ease-out;
      }
  
      #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
      }
  
      .menu-toggle .bar{
        display: block;
        cursor: pointer;
      }
  
      .menu-toggle:hover{
        cursor: pointer;
      }
  
      #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
      }
  
      #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
  
      #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
  
  }

  /*------------------FORM--------------------*/
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 20px;
    }
  }